.nav {
    grid-area: n;
    background-color: #c5fff2;
    padding: 20px;
}

.item a {
    color: #d315f6;
    text-decoration: none;
    font-size: 22px;
}

.item a.activeLink {
    color: #f64036;
}

