.content {
    grid-area: c;
}

.content-top-bg {
    background: url(https://avatars.mds.yandex.net/get-pdb/1906603/2f4899d7-f772-4e28-b9e0-9b58dee87335/s1200) no-repeat;
    background-size: cover;
    padding: 75px 0;
}